
<div class="row">
  <div class="col-lg-6 col-md-7 col-sm-6">
    <p id="notice"><%= notice %></p>
    
    <p>
      <strong>Title:</strong>
      <%= @event.title %>
    </p>
    
    <p>
      <strong>Local:</strong>
      <%= @event.local %>
    </p>
    
    <p>
      <strong>Date:</strong>
      <%= @event.date %>2
    </p>
  </div>
  <div class="col-lg-6 col-md-7 col-sm-6">  

    <h2> Subscriptions </h2>


    <%= form_tag event_path(@event.id), :method => 'get' do %> 
      <%= collection_select :subscription, :category_id, Category.all, :id, :name, prompt: true %>
      <%= submit_tag "Apply Filter" %>
    <% end %> 

    
    <div class="table-responsive">
      <table class="table table-striped table-sm">
        <thead>
          <tr>
            <th>Number</th>
            <th>Athlete</th>
            <th>Category</th>
            <th colspan="3"></th>
          </tr>
        </thead>
      
        <tbody>
          <% @event.subscriptions.each do |subscription| %>
            <tr>
              <td><%= subscription.number %></td>
              <td><%= subscription.athlete.name %>  </td>
              <td><%= subscription.category.name %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  
</div>    
